#nav {
    margin: 3em 0 0 0;
}

#nav .links {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav .links li {
    display: block;
    margin: 0;
    padding: 0;
    border-top: solid 1px rgba(255, 255, 255, 0.25);
}

#nav .links li:first-child {
    border-top: 0;
}

#nav .links li a {
    display: block;
    line-height: 4em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9em;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

#nav .links li a:hover {
    color: #ffffff;
}

#nav .actions {
    list-style: none;
    padding: 0;
    margin: 2em 0 0 0;
}

#nav .actions .button {
    width: 100%;
    background-color: #3762e3;
    color: #ffffff;
    border: none;
    padding: 0.75em 0;
    text-transform: uppercase;
    font-size: 0.9em;
    border-radius: 4px;
}